[[source]]
name = "deeosama_2officiL"
url = "https://instagram.com/deeosama_2official?igshid=1a51ijo99ra1l"
 = true

[dev-packages]
pytest = "*"
pysocks = "*"
bumpversion = "*"
pytest-cov = '*'
codecov = '*'

[packages]
tqdm = "*"
requests = "*"
requests-toolbelt = "*"
responses = "*"
six = "*"
huepy = "*"
pytz = "*"

[requires]
python_version = "3.7"
